{% extends "layout.html" %}

{% block body %}
	<h1>Book</h1>
	<div>
		<form method="POST">
			<div>
				<h2>Add book</h2>
				<select name = "tierid">
					<option disabled selected value="">Tier</option>
					{% for tier in tiers %}
					<option value={{tier[0]}} name = "tierid">
						{{tier[1]}}
					</option>
					{% endfor %}
				</select>
				<label for="isbn">ISBN</label>
				<input id="isbn" type="number" name="isbn" placeholder="ISBN">
				<input id="book_name" type="text" name="bookName" placeholder="Book name">	
			</div>

			<div>
				<input id="author" type="text" name="author" placeholder="Author">
				<input id="genre" type="text" name="genre" placeholder="Genre">
			</div>
			<div>
				<input type="submit" name="submit_btn" value="Add Book">
			</div>
		</form>
	</div>
	

	<form method="POST">
		<div> 
			<h2>Delete book</h2>
			<input id="isbn" type="number" name="isbn" placeholder="ISBN">
			<input id="book_name" type="text" name="bookName" placeholder="Book name">	
			<input type="submit" name="submit_btn" value="Delete Book">
		</div>
		
	</form>

	<form method="POST">
		<div> 
			<h2>Update book tier</h2>
			<select name = "tierid">
				<option disabled selected value="">Tier</option>
				{% for tier in tiers %}
				<option value={{tier[0]}} name = "tierid">
					{{tier[1]}}
				</option>
				{% endfor %}
			</select>
			<input id="isbn" type="number" name="isbn" placeholder="ISBN">
			<input id="book_name" type="text" name="bookName" placeholder="Book name">	
			<input type="submit" name="submit_btn" value="Update Book Tier">
		</div>
		
	</form>

	<h2>Book Data</h2>
	<table>
	    <thead>
	    	<tr>
	        	<th>ISBN</th>
	        	<th>Name</th>
	       		<th>Author</th>
	       		<th>Genre</th>
	       		<th>Tier</th>
	    	</tr>
	    </thead>    
	    <tbody>
	    {% for book in books %}    
            <tr>
                <td>{{book[0]}}</td>
                <td>{{book[1]}}</td>
                <td>{{book[2]}}</td>
                <td>{{book[3]}}</td>
            	{% for tier in tiers %}
            		{% if tier[0] == book[4] %}
            			<td>{{tier[1]}}</td>
            		{% endif %}
            	{% endfor %}
                


            </tr>
	    {% endfor %}
	    </tbody>
	</table>

{% endblock %}