{% extends "layout1.html" %}

{% block title %}Items{% endblock %}


{% block content %}

<!-- Bootstrap CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>

 <!-- Option 1: Bootstrap Bundle with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

 <style>
	body {
		content: "";
	  	background-image: url('/static/final1.png');
		background-size: cover;
		position: absolute;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 20px;
		opacity: 1;
	}

	div {
		opacity: 1;
		font-weight: bold;
		color:black;
	}

	button {
		opacity: 1;
		font-weight: bold;
		color:black;
	}
	</style>


    <h1>Item</h1>

    
	<form class="validateForm" method="POST">
		<div> 
			<h2>Add Category</h2>
			{%- if dupCategory == false %}
				<div class="alert alert-danger" role="alert">
					Category already exists.
				</div>
			{% endif -%}
			<div>
				<label for="category">Category</label>
				<input id="category" type="text" name="category" placeholder="Category" minlength="2" pattern="^[a-zA-Z]*" required>
				<!-- [a-zA-Z][a-zA-Z0-9\s]* -->
			</div>
			<br>
			<div>
				<input id="btnSubmit" type="submit" name="submit_btn" onclick="return confirm('Are you sure?')" value="Add Category"> 			
			</div>
		</div>
	</form>

	<br>

	<form class="validateForm" method="POST">
		<div> 
			<h2>Delete Category</h2>
			<div>
				<label for="category">Category</label>
				<select name = "categoryIDDel">
					<!-- <option disabled selected value="">Tier</option> -->
					{% for category in categories %}
					<option value={{category[0]}} name = "categoryIDDelete">
						{{category[1]}}
					</option>
					{% endfor %}
				</select>
			</div>
			<br>
			<div>
				<input id="btnSubmit" type="submit" name="submit_btn" onclick="return confirm('\t\t\t\tCaution!\n\n\t\tYou are about to delete a Category\n All Items belonging to this category will be DELETED!!')" value="Delete Category"> 			
			</div>
		</div>
	</form>

	<br>
	<br>

	<form class="validateForm" method="POST" enctype=multipart/form-data  >
		<div class="form-group row">
			<h2>Add item</h2>
				{%- if flag: %}
					<div class="alert alert-danger" role="alert">
						Please select a .png or .jpg or .jpeg file.
					</div>
				{% endif -%}
				{%- if dupitem == false %}
					<div class="alert alert-danger" role="alert">
						Item already exists
					</div>
				{% endif -%}
			<!-- <div class="col-sm-3">
				<label for="tierid">Tier</label>
				<select name = "tierid">
					{% for tier in tiers %}
					<option value={{tier[0]}} name = "tierid">
						{{tier[1]}}
					</option>
					{% endfor %}
				</select>
			</div> -->
			<div class="col-sm-4">
				<label for="itemname">Item</label>
				<input id="itemname" type="text" name="itemname" placeholder="Item" minlength="1" pattern="^[a-zA-Z][a-zA-Z0-9\s]*" required>
			</div>
			<div class="col-sm-4">
				<label for="itemprice">Price</label>
				<input id="itemprice" type="number" name="itemprice" placeholder="Price" min="0" required>
			</div>
			<div class="col-sm-7">
				<label for="itembrand">Brand</label>
				<input id="itembrand" type="text" name="itembrand" placeholder="Brand" pattern="^[a-zA-Z][a-zA-Z0-9\s]*" required>
			</div>
				
		</div>

		<br>

		<div class="form-group row">
			<label for="description">Description</label>
			<textarea rows = "2" cols = "2" name = "description" id="description" type="text" required></textarea>
		</div>

		<br>

		<div class="form-group row">
			<div class="col-sm-5">
				<label for="itemstock">Stock</label>
				<input id="itemstock" type="number" name="itemstock" placeholder="Stock" min="0" required>
			</div>
			<div class="col-sm-3">
				<label for="category">Category</label>
				<select name = "categoryid">
<!-- 					<option disabled selected value="">Genre</option>
	-->				{% for category in categories %}
					<option value={{category[0]}} name = "categoryid">
						{{category[1]}}
					</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<br>

		<div class="form-group row">
			<input type=file class="form-control-file" name=file>
		</div>

		<br>

		<div>
			<input id="btnSubmit" type="submit" name="submit_btn"  onclick="return confirm('Are you sure?')" value="Add Item">
			<!-- onclick="alreadyExistsCheck();" -->
		</div>
	</form>

	
	<br>

    <form method="POST" class="needs-validation" novalidate>
		<div class="form-group row"> 
			<h2>Delete Item</h2>
			<div class="col-sm-5">
				<label for="itemDel">Item</label>
				<input id="itemDel" type="text" name="itemDel" placeholder="Item" required>
			</div>
			<div class="col-sm-5">
				<label for="itemDelBrand">Brand</label>
				<input id="itemDelBrand" type="text" name="itemDelBrand" placeholder="Brand" required>
			</div>
			<div class="form-group row">
				<label for="deldescription">Description</label>
				<textarea rows = "2" cols = "2" name = "deldescription" id="deldescription" type="text" required></textarea>
			</div>
			<br>
			<br>
			<div>
				<input id="btnSubmit" type="submit" name="submit_btn" onclick="return confirm('Are you sure?')" value="Delete Item">
			</div>
		</div>
		
	</form>

	<br>

    <form method="POST" class="needs-validation" novalidate>
		<div class="form-group row"> 
			<h2>Update Item stock</h2>
			<div class="col-sm-5">
				<label for="itemupdate">Item</label>
				<input id="itemupdate" type="text" name="itemupdate" placeholder="Item" required>
			</div>
			<div class="col-sm-5">
				<label for="itemupdatebrand">Brand</label>
				<input id="itemupdatebrand" type="text" name="itemupdatebrand" placeholder="Brand" required>
			</div>
            <div class="col-sm-5">
				<label for="itemupdatestock">Stock</label>
				<input id="itemupdatestock" type="number" name="itemupdatestock" placeholder="Stock" min="0" required>
			</div>
			<br>
		</div>	
		<br>
		<div>
			<input id="btnSubmit" type="submit" name="submit_btn" onclick="return confirm('Are you sure?')" value="Update Item Stock">
		</div>
		
	</form>

	<br>
	<form class="validateForm" method="POST">
		<div> 
			<h2>Search</h2>
			<div>
				<label for="searchItem">Item</label>
				<input id="searchItem" type="text" name="searchItem" placeholder="Item" required>
				<!-- [a-zA-Z][a-zA-Z0-9\s]* -->
			</div>
			<br>
			<div>
				<input id="btnSubmit" type="submit" name="submit_btn"  value="Search Item"> 			
			</div>
		</div>
	</form>
	<br>
	{% if searched == true %}
		<h2>Item searched</h2>
		<table class="table">
		    <thead>
		    	<tr>
				<th>ItemID</th>
	        	<th>Item</th>
	       		<th>Price</th>
	       		<th>Image file</th>
	       		<th>Category</th>
                <th>Brand</th>
	        	<th>Description</th>
	       		<th>Stock</th>
		    	</tr>
		    </thead>    
		    <tbody>
		    {% for i in searchResults %}    
            <tr>
                <td>{{i[0]}}</td>
                <td>{{i[1]}}</td>
                <td>{{i[2]}}</td>
                <td>{{i[3]}}</td>
                {% for category in categories %}
                    {% if i[4] == category[0] %}
                        <td>{{category[1]}}</td>
                    {% endif %}
                {% endfor %}
                <td>{{i[5]}}</td>
                <td>{{i[6]}}</td>
                <td>{{i[7]}}</td>
            </tr>
	    {% endfor %}
		    </tbody>
		</table>

	{% endif %}

	<br>
    <h2>Item Data</h2>
    <table class="table">
	    <thead>
	    	<tr>
	        	<th>ItemID</th>
	        	<th>Item</th>
	       		<th>Price</th>
	       		<th>Image file</th>
	       		<th>Category</th>
                <th>Brand</th>
	        	<th>Description</th>
	       		<th>Stock</th>
	    	</tr>
	    </thead>    
	    <tbody>
	    {% for item in items %}    
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                {% for category in categories %}
                    {% if item[4] == category[0] %}
                        <td>{{category[1]}}</td>
                    {% endif %}
                {% endfor %}
                <td>{{item[5]}}</td>
                <td>{{item[6]}}</td>
                <td>{{item[7]}}</td>
            </tr>
	    {% endfor %}
	    </tbody>
	</table



    <script src="//code.jquery.com/jquery-1.12.0.min.js"></script>

	<script>
		$(function() {
		    $('form.validateForm').each(function(key, form) {
		        $(form).validate(); 
		    });
		});
	</script>
{% endblock %}