<!DOCTYPE html>
<html lang='en'>
<head>
<meta name="viewport" content="initial-scale=1,width=device-width">
<title>Payment</title>
<link rel="stylesheet" type="text/css" href="cart.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="cart-total">
	<h1>Payment</h1>
	<h2 class="total">Total Price:{{total[0]}}</h6>
    <form method ="POST" action="/final">
	<label for="total_price">Enter Amount to be paid: </label>
    <input type="text" id="total_price" name="total_price"><br><br>
    <input type="submit" value="Pay" name="submit_btn">
    </form>
</div>
</body>
</html>